.flash {
    color: black;
    position: relative;
    top: 70px;
}

.inline {
    display: inline;
}

body {
    background-color: #f5f5f5;
    font-family: 'Nanum Myeongjo', serif;
}

a {
    text-decoration: none;
    color: inherit;
}


.light-bg {
    background-color: #f5f5f5;
}

nav {
    border-bottom: 1px dotted black;
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0;
    
}

main {
    position: relative;
    top: 64px;
}

.logo {
    margin-left: 20px;
}

nav-wrapper:hover {
    background-color: #f5f5ff;
}

li a::after {
    content: "*";
    color: #f5f5f5;
}

h2 {
    margin-left: 20px;
}

.button-override {
    font-family: 'Nanum Myeongjo', serif;
    width: 135px;
    box-shadow: none;
}

.right-col {
    float: right;
    height: 80vh;
    overflow: scroll;
}

.card-header {
    padding-bottom: 10px;
    border-bottom: 1px dotted grey;
    display: inline;
}

.subtitle {
    color: grey;
    display: inline-block;
    font-size: 65%;
    text-transform: uppercase;
    padding-left: 10px;
}

.comment-width {
    width: 95%;
    padding: 0;
}

.comment-head {
    border-bottom: 0.1px dotted grey;
    padding: 0.3rem 0.3rem 0.1rem 0.3rem;
}

.timestamp {
    font-size: 70%;
    padding: 0rem;
    margin: 0;

}

.comment-user {
    font-size: 80%;
    padding: 0rem;
    margin: 0;
}

.comment {
    margin: 0;
    padding: 1rem; 
}


li a:hover::after {
    content: "*";
    color: black;
}

.btn-floating.halfway-fab {
    right: 15px;
    top: 15px;
}

.comment-btn {
    display: block;
    margin: auto;
    
}

.updates {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.more{
    display: inline;
}

.updates-hr {
    margin: 20px 0px;
}

.icon-btn {
    display: inline-block;
    width: 32px;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    padding: 0;
}

.minor-text {
    font-size: 80%;
    color: grey;
    padding-bottom: 10px;
}


.card-subhead {
    font-size: 1rem;
    display: inline;
    margin-left: 10px;

}

.new_reg {
    display: inline;
}

.alts_incs {
    font-weight: 600;
    padding-bottom: 10px;
}

.chip-style {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.narrow-card {
    display: block;
    margin: 20px auto;
    width: 80%;
    padding: 30px;
}

.underline-header {
    border-bottom: 1px grey ridge;
    padding-bottom: 10px;
}

.light-underline {
    border-bottom: 1px grey solid;
    padding-bottom: 10px;
}

input.dotted-underline, .new-alts>input.dotted-underline {
    border-bottom: 1px grey dotted!important;
    padding-bottom: 10px;
    width: 50%;
}



.term-form {
    margin-top: 20px;
}

input.input-box, .alts-incs>input.input-box, input, .input-box { 
    padding: 0px 0 0 10px;
    margin-top: 10px;
    font-family: 'Nanum Myeongjo', serif!important;
    background-color: #f3f3f3;   
    border-bottom: 1px grey dotted!important;
}

.input-width-half {
    width: 60%!important;
}

.input-width-full {
    width: 100%!important;
}

.pt1 {
    margin-top: 1rem;
}

.btn-small {
    font-family: 'Nanum Myeongjo', serif!important;
}

.add_btn_info {
    padding: 10px 0 0 10px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.781);
}






