html {
    scroll-behavior: smooth;
    background: linear-gradient(to right, #ffffff 0%, #f7f7f7 100%);
}

main {
    font-size: 14px;

}

.rule {
    color: red;
    border-bottom: rgba(128, 128, 128, 0.521) solid 0.5px;
    border-top: none;
}

.flash {
    color: red;
        font-family: 'Nanum Myeongjo', serif;

}

.zero-margin-row {
    margin: 0;
}

.notifications {
    border-radius: 50%;
    background-color: red;
    color: #fff;
    font-size: 1rem;
    
}



.small-icon {
    font-size: 60%;
    position: relative;
    left: -10px;
    color:red;
}

.count-notifications {
    color: red;
    padding: 0;
    margin: 0;
        font-family: 'Nanum Myeongjo', serif;

}

.card {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.card-title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}




@media only screen and (max-width: 800px) {

.btn-alignment {
    display: inline;
}
}

@media only screen and (max-width: 370px) {
    .btn-alignment {
    display: block;
}
}

.comment-head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}



.letters {
    
    padding-top: 15px;
    overflow: auto;
    white-space: wrap;
}

.letter-chip {
    display: inline-flex;
    width: 20px;
    height: 20px;
background: linear-gradient(to top,#dcdddf 0%, #ebebeb 100%);

    text-align: center;
    border-radius: 0.2rem;
    margin: 2px;
    
}

.letter-chip a {
    display: inline-flex;
    margin: auto;
    vertical-align: middle;
    margin: auto;
}

.visibility {
    visibility: hidden;
}


body {
    background-color: #FEFEFE;
font-family: 'Nanum Gothic', sans-serif;

}


a {
    text-decoration: none;
    color: inherit;
}


.light-bg {
    background-color: #f5f5f5;
}

nav {
    font-family: 'Nanum Myeongjo', serif;
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0;
    
}

.logo {
    font-family: 'Nanum Myeongjo', serif;
    margin-left: 20px;
}

nav-wrapper:hover {
    background-color: #f5f5ff;
}

li a::after {
    content: "*";
    color: transparent;
}

h2 {
    margin: 0px;
    margin-bottom: 5px;
}



#browse-toggle .card-content .row{
    padding: 5px;
    overflow: hidden;
}

.slim {
    margin-bottom: 0px;
}

.right-col {
    float: right;
    height: 80vh;
    overflow: scroll;
}

.card-header {
        font-family: 'Nanum Myeongjo', serif;
    
}

.subtitle {
    color: grey;
    display: inline-block;
    font-size: 65%;
    text-transform: uppercase;
    padding-left: 10px;
}

.comment-width {
    width: 95%;
    padding: 0;
}

.comment-head {
    border-bottom: 0.1px dotted grey;
    padding: 0.3rem 0.3rem 0.1rem 0.3rem;
}

.timestamp {
    font-size: 70%;
    padding: 0rem;
    margin: 0;
}

.comment-user {
    font-size: 80%;
    padding: 0rem;
    margin: 0;
}

.comment {
    margin: 0;
    padding: 1rem; 
}


li a:hover::after {
    content: "*";
    color: #fff;
}



.term-card .card-content {
    /* font-family: 'Nanum Gothic', sans-serif; */

    padding: 10px 20px;
    border-radius: 3px;
}

.term-card .dash-header.card-title {
    font-family: 'Nanum Myeongjo', serif;
    border-bottom: solid darkgrey 1px;
    padding: 1px;
}

/* .slim-p.card-content {
    padding: 13px;
} */

.slim-p .col, .slim-p .input-field {
    margin-top: 0;
    margin-bottom: 0;
}

.updates {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}




ul.dropdown-content.select-dropdown li span {
    font-size: 85%;
    padding: 10px;
    margin: 0;

}



.dropdown-content li {
    min-height: 7px;
}



.updates-hr {
    margin: 10px 0px;
}



.minor-text {
    font-size: 80%;
    color: grey;
    padding-bottom: 0px;
}


.card-subhead {
    font-size: 1rem;
    display: inline;
    margin-left: 10px;

}

.new_reg {
    display: inline;
}

#add-term .card-title, #profile .card-title {
            font-family: 'Nanum Myeongjo', serif;

}

.alts_incs {
    font-weight: 600;
    padding-bottom: 10px;
        font-family: 'Nanum Myeongjo', serif;

}

.chip-style {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.narrow-card {
    display: block;
    margin: 20px auto;
    width: 80%;
    padding: 30px;
}



.underline-header {
    border-bottom: 1px grey ridge;
    padding-bottom: 10px;
}

.light-underline {
    border-bottom: 1px grey solid;
    padding-bottom: 10px;
}

input.dotted-underline, .new-alts>input.dotted-underline {
    border-bottom: 1px grey dotted!important;
    padding-bottom: 10px;
    width: 50%;
}



.term-form {
    margin-top: 20px;
}

input.input-box, .alts-incs>input.input-box, input, .input-box { 
    padding: 0px 0 0 10px;
    margin-top: 10px;
    /* font-family: 'Nanum Myeongjo', serif!important; */
    background-color: #f3f3f3;   
    border-bottom: 1px grey dotted!important;
}



.input-width-half {
    width: 60%!important;
}

.input-width-full {
    width: 100%!important;
}

.pt1 {
    margin-top: 1rem;
}



::placeholder {
    color: rgba(0, 0, 0, 0.781);
}

.red-text {
    color: red;
    background: transparent;
}

.subheader {
    margin: 63px 0 0 10px;
    padding-top: 0px;
}

.page-title {
    font-size: 1.5rem;
        font-family: 'Nanum Myeongjo', serif;
}

.page-title, .count-notifications {
    padding: 15px 10px 9px 10px;
}

#flash-h3-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: baseline;
}

/* buttons */

.icon-btn {
background: linear-gradient(to top,#dcdddf 0%, #ebebeb 100%);

    width: 32px;
color: black;
    line-height: 32px;
    padding: 0;
    margin: 2px;
}

.btn-floating.halfway-fab {
    right: 15px;
    top: 15px;
background: #e43a15;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #e65245, #e43a15);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #e65245, #e43a15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-floating.halfway-fab:hover {
    box-shadow: none;
}


.btn-small:hover {
    box-shadow: none;
}

.button-override {
font-family: 'Nanum Gothic', sans-serif;
 background-image: linear-gradient(to bottom, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
}

.term-buttons {
    padding: 10px 0 0 10px;
}

.term-buttons a .btn-small {
 background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
}

.term-buttons p {
    position: relative;
    bottom: 27%;
    
    
}

.term-card .row .btn-small {
    color: black;
    font-size: 0.6rem;
    height: 20px;
background: linear-gradient(to top,#dcdddf 0%, #ebebeb 100%);
}

#search button, #search a {
    color: black;
background: linear-gradient(to top,#dcdddf 0%, #ebebeb 100%);


}

.pin {
background: linear-gradient(to top, rgb(252, 223, 130), rgb(248, 228, 162)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}






.dash-header.card-title {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    padding: 9px 10px 10px 9px;
    color: #fff;
}

.dash-header.card-title.term {
    padding: 9px 10px 0px 0px;
}


.dash-dropdown {
    margin: 0;
    padding: 0;
    background-color: #26a69933;
}

.grad {
background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-content.reduce-padding-top {
    padding: 10px 24px;
}

.input-field.reduce-padding-top {
    padding-top: 10px;
    margin: 0px;
}

#search-card form .row, .m0 .row {
    margin-bottom: 0px;
}

#terms {
    padding-right: 10px;
}
