.flash {
    color: black;
    position: relative;
    top: 70px;
}

.inline {
    display: inline;
}

body {
    background-color: #f5f5f5;
    font-family: 'Nanum Myeongjo', serif;
}

a {
    text-decoration: none;
    color: inherit;
}


.light-bg {
    background-color: #f5f5f5;
}

nav {
    border-bottom: 1px dotted black;
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0;
    
}

main {
    position: relative;
    top: 64px;
}

.logo {
    margin-left: 20px;
}

nav-wrapper:hover {
    background-color: #f5f5ff;
}

li a::after {
    content: "*";
    color: #f5f5f5;
}

h2 {
    margin-left: 20px;
}

.button-override {
    font-family: 'Nanum Myeongjo', serif;
    width: 135px;
    box-shadow: none;
}

.right-col {
    float: right;
    height: 80vh;
    overflow: scroll;
}

.card-header {
    padding-bottom: 10px;
    border-bottom: 1px dotted grey;
    display: inline;
}

.subtitle {
    color: grey;
    display: inline-block;
    font-size: 65%;
    text-transform: uppercase;
    padding-left: 10px;
}

.comment-width {
    width: 95%;
    padding: 0;
}

.comment-head {
    border-bottom: 0.1px dotted grey;
    padding: 0.3rem 0.3rem 0.1rem 0.3rem;
}

.timestamp {
    font-size: 70%;
    padding: 0rem;
    margin: 0;

}

.comment-user {
    font-size: 80%;
    padding: 0rem;
    margin: 0;
}

.comment {
    margin: 0;
    padding: 1rem; 
}


li a:hover::after {
    content: "*";
    color: black;
}

.btn-floating.halfway-fab {
    right: 15px;
    top: 15px;
}

.comment-btn {
    display: block;
    margin: auto;
    
}



.more{
    display: block;
}

.card-subhead {
    font-size: 1rem;
    display: inline;
    margin-left: 10px;

}

.new_reg {
    display: inline;
}