{% extends "base.html" %}
{% block content %}
<div class="row">
    {% if session_user.user == None %}
    <div id="error-no-user" class="col s8 offset-s2 m6 offset-m3 l6 offset-l3">
        <div class="row">
            <div id="error-card" class="card z-depth-1">
                <div class="gradient-light card-header card-title">
                    404! Looks like there's a problem...
                </div>
                <div class="card-content p10 mt0 mb0">
                    <p>It looks like the page you're looking for no longer exists. Make sure you're logged in or double
                        check that the URL is correct.</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div id="error" class="col s12 m6 l6">
        <div class="row">
            <div id="error-card" class="card z-depth-1">
                <div class="gradient-light card-header card-title">
                    404! Looks like there's a problem...
                </div>
                <div class="card-content p10 mt0 mb0">
                    <p>Oh dear, it looks like something has gone wrong here. It may be that a term you're interested in
                        no longer exists in the style guide or its principle usage has been changed. Contact your
                        administrator for more information.</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}