{% extends "base.html" %}
{% block content %}
<div id="error" class="col m6 s12">
        <div class="row">
        <div id="error-card" class="card z-depth-1">

        <div class="gradient-light card-header card-title">
            404! Looks like there's a problem...
            </div>

            <div class="card-content p10 mt0 mb0">
                <p>Oh dear, it looks like something has gone wrong here. It may be that a term you're interested in no longer exists in the style guide or its principle usage has been changed. Contact your administrator for more information.</p>
            </div>
            </div>
            
        </div>
{% endblock %}
