{% extends "base.html" %}
{% block content %}
<div id="error" class="col s12 m6 offset-m3 l6">
    <div id="error-card" class="card z-depth-1">
        <div class="gradient-light card-header card-title">
            404! Looks like there's a problem...
        </div>
        <div class="card-content p10 mt0 mb0">
            <p>It looks like the page you're looking for no longer exists. Make sure you're logged in or double
                check that the URL is correct. If the problem continues, contact your administrator.</p>
        </div>
    </div>
</div>
{% endblock %}