{% extends "base.html" %}
{% block content %}

{% if access_level == "administrator" %}
<h2>Add terms</h2>
{% else %}
<h2>Suggest a term</h2>
{% endif %}



<div class="container">
    <div class="card z-depth-0">
        <div class="card-content">
            {% if access_level == "administrator" %}
            <div class="card-title">Add term</div>
            {% else %}
            <div class="card-title">Suggest term</div>
            {% endif %}
            <form class="col s12" method="POST" action="{{ url_for('add_term') }}">
                <div class="input-field col s6">
                    <input id="term_name" name="term_name" type="text" class="validate">
                    <label for="term_name">Principle term</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="alt_terms" name="alt_terms" type="text" class="materialize-textarea" rows="5"
                        cols="4"></textarea>
                    <label for="alt_terms">Alternative terms</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="incorrect_terms" name="incorrect_terms" type="text" class="materialize-textarea"
                        rows="5" cols="4"></textarea>
                    <label for="incorrect_terms">Incorrect terms</label>
                </div>
                <div class="input-field col s12">
                    <div class="form-outline">
                        <select id="type_name" name="type_name" class="validate" required>
                            <option value="" disabled selected><label for="type_name">Term type</label></option>
                            {% for type in types %}
                            <option value="{{ type.type_name }}">{{ type.type_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="input-field col s12">
                    <textarea id="usage_notes" name="usage_notes" type="text" class="materialize-textarea"></textarea>
                    <label for="usage_notes">Usage notes</label>
                </div>
                <div class="input-field col s6">
                    <button type="submit" class="btn-small
                             text-shadow">
                        {% if access_level == "administrator" %}
                        Add term
                        {% else %}
                        Make suggestion
                        {% endif %}
                        <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}