{% extends "base.html" %}
{% block content %}
<h2>Welcome to myHouse {{ user }}, an account has been created for you. Please choose a password.</h2>
<p></p>
<p>
<h3 class="center-align">Change password for {{ user }}</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST"
        action="{{ url_for('choose_password', user_id=user._id, user=user) }}">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="text" class="validate">
                        <label for="password">Temporary Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="new_password" name="new_password" type="text" class="validate">
                        <label for="new_password">New Password
                        </label>
                    </div>
                </div>

                <div class="row">
                    <button class="submit">Change password
                        <i class="fas fa sign-in-alt"></i></button>
                </div>
            </div>
    </form>
</div>
</p>
{% endblock %}