<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Style Guide</title>
</head>

<body>
    <!-- Desktop navigation -->
    <nav id="nav-closed" class="z-depth-0 gradient white-text">
        <div class="nav-wrapper">
            <a href="{{ url_for('dashboard', user=session['user']) }}" class="brand-logo logo white-text">myHouse
            
            {% if (g.notifications > 0) and (g.access_level == 'administrator') %}
                       <span class="alert">*</span>
{% endif %}
</a>
            {% if session.user %}

            <a href="#" data-target="sidenav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            {% if to_change_pword == True %}
            {% else %}
            <ul class="right hide-on-med-and-down">

                {% if not session.user %}
                <li><a class="white-text" href="{{ url_for('register') }}">Register</a></li>
                <li><a class="white-text" href="{{ url_for('login') }}">Log in</a></li>

                {% else %}
                {% if access_level == "administrator" %}
                <li><a class="" href="{{ url_for('add_term') }}">Add terms</a></li>
                <li><a class="" href="{{ url_for('manage_users') }}">Manage users</a></li>
                {% elif access_level == "read and comment" %}
                <li><a class="" href="{{ url_for('add_term') }}">Make a suggestion</a></li>
                {% endif %}
                <li><a class="modal-trigger" href="javascript:void(0)" data-target="logout-modal">Log out</a></li>
                <li><a class="" href="{{ url_for('profile', user=session['user']) }}">Profile</a></li>


                {% endif %}
                {% endif %}
                {% endif %}


            </ul>
        </div>



        {% if session.user %}
        <!-- Mobile/tablet navigation -->
        <ul class="sidenav" id="sidenav-mobile">
            {% if access_level == "administrator" %}

            <li><a class="sidenav-item" href="{{ url_for('add_term') }}">Add terms</a><a class="material-icons"
                    href="{{ url_for('add_term') }}">keyboard_arrow_right</a></li>
            <li><a class="sidenav-item" href="{{ url_for('manage_users') }}">Manage users</a><a class="material-icons"
                    href="{{ url_for('manage_users') }}">keyboard_arrow_right</a></li>
            {% elif access_level == "read and comment" %}
            <li><a class="sidenav-item" href="{{ url_for('add_term') }}">Make a suggestion</a><a class="material-icons"
                    href="{{ url_for('add_term') }}">keyboard_arrow_right</a></li>
            {% endif %}
            <li><a class="sidenav-item" href="{{ url_for('profile', user=session['user']) }}">Profile</a><a
                    class="material-icons"
                    href="{{ url_for('profile', user=session['user']) }}">keyboard_arrow_right</a></li>

            <li><a class="modal-trigger sidenav-item" href="javascript:void(0)" data-target="logout-modal">Log out</a><a
                    class="material-icons" href="javascript:void(0)">keyboard_arrow_right</a></li>

            <div class="sidenav-card card z-depth-1">
                <div class="sidenav-card-title card-title card-header gradient white-text">Your pinned terms</div>
                <div class="sidenav-card-surround card-surround card-content">

                    {% if pinned_terms|length > 0 %}
                    {% for pinned_term in pinned_terms %}
                    <div class="sidenav-pin pin chip">
                        <a class="link"
                            href="{{ url_for('go_to_term', term_id=pinned_term._id) }}">{{ pinned_term.term_name }}</a>
                        <a href="{{ url_for('remove_pin', pinned_term=pinned_term._id) }}"><i
                                class="close material-icons">close</i></a>
                    </div>

                    {% endfor %}
                    {% else %}
                    <div class="col">
                        <p class="no-pins">Pin your most searched-for terms here!</p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if access_level == 'administrator' %}
            <div class="sidenav-card card z-depth-1">
                <div class="sidenav-card-title card-title card-header gradient white-text">
                    Recent Updates</div>
                <div class="card-content card-surround">
                    {% if new_registrations|length > 0 %}
                    <p class="minor-text">New registrations</p>
                    {% for new_reg in new_registrations %}

              <div class="mt0 mb0 row">
                        <div class="col s12">
                            <p class="updates valign-wrapper">
                            <span>{{ new_reg.username|capitalize() }}:</span>

                            <a href="{{ url_for('update_user', each_user_id=new_reg._id, origin='dash') }}" class="icon-button btn-small z-depth-0" type="submit"><i
                                    class="small material-icons center-align">keyboard_arrow_up</i></a>
                     </p>
                                </div>
                     </div>

                    {% endfor %}
                    {% else %}
                    <p class="no-updates valign-wrapper updates">No new registrations</p>

                    {% endif %}
                    <hr>
                    {% if flagged_comments|length > 0 %}
                    <p class="minor-text">Flagged comments</p>
                    {% for flagged in flagged_comments %}
                    <div class="mt0 mb0 row">
                        <div class="col s12">
                            <p class="updates valign-wrapper">
                                <span class="truncate">{{ manage_flagged_comments(flagged) }}:
                                    "{{ flagged.comment }}"</span> <a class="btn-small icon-button z-depth-0"
                                    href="{{ url_for('delete_flag', comment_id=flagged._id) }}"><i
                                        class="keyboard material-icons">close</i></a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="no-updates">No new flagged comments</p>
                    {% endif %}
                    <hr>
                    {% if suggested_terms|length > 0 %}
                    <p class="minor-text">Suggested terms</p>
                    {% for suggestion in suggested_terms %}

                    <p class="updates valign-wrapper">"{{ suggestion.term_name }}"
                        {% if manage_suggested_terms(suggestion) != "" %}
                        suggested by: {{ manage_suggested_terms(suggestion) }}
                        {% endif %}
                        <a class="btn-small icon-button z-depth-0"
                            href="{{ url_for('manage_term', term_id=suggestion._id) }}"><i
                                class="small material-icons">keyboard_arrow_right</i></a>
                    </p>

                    {% endfor %}
                    {% else %}

                    <p class="no-updates">No new term suggestions</p>

                    {% endif %}
                </div>
            </div>
            {% endif %}
            {% if access_level != 'administrator' %}
            <div class="sidenav-card card z-depth-1">
                <div class="sidenav-card-title gradient white-text card-header card-title">Recent Updates</div>
                <div class="card-surround card-content">
                    {% for update in term_updates %}
                    <div class="mt0 mb0 row">
                        <div class="col s12">
                            <p class="updates valign-wrapper"><strong>{{ update.term_name }} </strong>
                                <a class="btn-small icon-button z-depth-0"
                                    href="{{ url_for('view_term', term_id=update._id) }}"><i
                                        class="small material-icons">keyboard_arrow_right</i></a>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            {% endif %}

            {% if access_level != 'read only' %}
            <div class="sidenav-card card z-depth-1">
                <div class="sidenav-card-title gradient white-text card-header card-title">Recent Comments</div>
                <div class="card-surround card-content">

                    {% for comment in recent_comments %}
                    {% if not term_comment(comment) == "" %}
                    <div class="row mb0 mt0">
                        <div class="col s12">
                            <p class="updates valign-wrapper"><strong
                                    class="truncate">{{ term_comment(comment)[0] }}</strong>
                                <span class="truncate">{{ comment.comment }}"</span>
                                <a class="btn-small icon-button z-depth-0"
                                    href="{{ url_for('view_term', term_id=term_comment(comment)[1]) }}"><i
                                        class="small material-icons">keyboard_arrow_right</i></a>
                            </p>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}


        </ul>

    </nav>
    <!-- Title (desktop), flash messages (desktop) and search bar -->
    <div id="subheader" class="row valign-wrapper">
        <div id="flash-h3-con" class="">
            <span class="page-title">{{- this_h3 -}}</span>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <span class="count-notifications">

                {% for message in messages %}
                <span id="message">{{ message }}</span>
                {% endfor %}

            </span>

            {% elif (not messages) and (g.notifications > 0) and (g.user != None) and (g.access_level == 'administrator') %}
            <span class="count-notifications">You have {{ g.notifications }}
                notification{% if g.notifications > 1 %}s{% endif %}</span>
{% else %}
<span class="count-notifications">&nbsp;</span>

            {% endif %}
            {% endwith %}


        </div>


        <form id="search-bar" method="POST" action="{{ url_for('search_terms') }}">
            <div class="search-row">
                <div id="search-input" class="input-field right-align">
                    <input class="search-input-box" type="text" name="query" id="query" minlength="3">
                    <label id="search-label" for="query">Search terms</label>
                </div>
                <div class="hidden letters left-align hide-on-small-only" id="letters">

                    {% for category in categories %}
                    <div class="letter-chip"><a
                            href="{{ url_for('get_category', category=category) }}">{{ category }}</a>
                    </div>
                    {% endfor %}

                </div>
             
                <div class="search-buttons search">
                    <button type="submit" class="icon-button btn-small z-depth-0 material-icons" id="search-btn-mobile">
                        search
                    </button>
                    <button type="submit" class="btn-small z-depth-0 search-mng-btn">
                        Search
                    </button>

                    <a href="{{ url_for('dashboard') }}" class="btn-small z-depth-0 search-mng-btn"
                        id="search-btn-desktop">Reset</a>
                    <a href="javascript:void(0)" class="btn-small z-depth-0 search-mng-btn"
                        id="browse-toggle">Browse</a>
                </div>
            </div>


            <div class="letters row hide-on-med-and-up" id="letters-mobile">
                <div class="col s12">
                    {% for category in categories %}
                    <div class="letter-chip"><a
                            href="{{ url_for('get_category', category=category) }}">{{ category }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </form>
    </div>



    <main>
        <div id="notifications-desktop" class="row">
            <div id="notifications" class="col s0 m4 hide-on-med-and-down">
                <!-- PINNED TERMS card -->
                <div class="card z-depth-1">
                    <div class="card-title card-header gradient white-text">Your pinned terms</div>
                    <div class="card-surround card-content">
                        <div class="row">
                            {% if pinned_terms|length > 0 %}
                            {% for pinned_term in pinned_terms %}
                            <div class="col mt0">
                                <div class="pin chip">
                                    <a class="link"
                                        href="{{ url_for('go_to_term', term_id=pinned_term._id) }}">{{ pinned_term.term_name }}</a><a
                                        href="{{ url_for('remove_pin', pinned_term=pinned_term._id) }}"><i
                                            class="close material-icons">close</i></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="col">
                                <p>Pin your most searched-for terms here!</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if access_level == 'administrator' %}
                <!-- ADMIN ALL UPDATES (not comments) card -->
                <div class="card z-depth-1">
                    <div class="card-title card-header gradient white-text">
                        Recent Updates</div>
                    <!-- New registrations -->
                    <div class="card-content card-surround">
                        {% if new_registrations|length > 0 %}
                        <p class="minor-text">New registrations</p>
                        {% for new_reg in new_registrations %}

                        <form class="" method="POST"
                            action="{{ url_for('update_user', each_user_id=new_reg._id, origin='dash') }}">
                            <div class="valign-wrapper button-flex-wrap">
                                <p>{{ new_reg.username|capitalize() }}:</p>
                                <select id="access_level" name="access_level" class="">
                                    <option value="" disabled selected><span id="dd-placeholder">Set access level</span>
                                    </option>
                                    {% for access_level in levels %}
                                    <option value="{{ access_level.level_name }}">{{ access_level.level_name }}</option>
                                    {% endfor %}
                                </select>
                                <button class="icon-button btn-small z-depth-0" type="submit"><i
                                        class="small material-icons center-align">keyboard_arrow_up</i></button>
                            </div>
                        </form>

                        {% endfor %}
                        {% else %}
                        <p>No new registrations</p>

                        {% endif %}
                        <hr>
                        <!-- Flagged comments -->
                        {% if flagged_comments|length > 0 %}
                        <p class="minor-text">Flagged comments</p>
                        {% for flagged in flagged_comments %}
                        <div class="mt0 mb0 row">
                            <div class="col s12">
                                <p class="updates valign-wrapper">
                                    <span class="truncate">{{ manage_flagged_comments(flagged) }}:
                                        "{{ flagged.comment }}"</span> <a class="btn-small icon-button z-depth-0"
                                        href="{{ url_for('delete_flag', comment_id=flagged._id) }}"><i
                                            class="keyboard material-icons">close</i></a>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>No new flagged comments</p>
                        {% endif %}
                        <hr>
                        <!-- Suggested terms -->
                        {% if suggested_terms|length > 0 %}
                        <p class="minor-text">Suggested terms</p>
                        {% for suggestion in suggested_terms %}
                        <div class="row">
                            <div class="col s12">
                                <p class="updates valign-wrapper">"{{ suggestion.term_name }}"
                                    {% if manage_suggested_terms(suggestion) != "" %}
                                    suggested by: {{ manage_suggested_terms(suggestion) }}
                                    {% endif %}
                                    <a class="btn-small icon-button z-depth-0"
                                        href="{{ url_for('manage_term', term_id=suggestion._id) }}"><i
                                            class="small material-icons">keyboard_arrow_right</i></a>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="row">
                            <div class="col s12">
                                <p>No new term suggestions</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <!-- NON-ADMIN (read & comment/read-only) TERM UPDATES card -->
                {% if access_level != 'administrator' %}
                <div class="card z-depth-1">
                    <div class="gradient white-text card-header card-title">Recent Updates</div>
                    <div class="card-surround card-content">
                        {% for update in term_updates %}
                        <div class="mt0 mb0 row">
                            <div class="col s12">
                                <p class="updates valign-wrapper"><strong>{{ update.term_name }} </strong>was recently
                                    updated
                                    <a class="btn-small icon-button z-depth-0"
                                        href="{{ url_for('view_term', term_id=update._id) }}"><i
                                            class="small material-icons">keyboard_arrow_right</i></a>
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                {% endif %}
                <!-- RECENT COMMENTS (not read-only) card -->
                {% if access_level != 'read only' %}
                <div class="card z-depth-1">
                    <div class="gradient white-text card-header card-title">Recent Comments</div>
                    <div class="card-surround card-content">

                        {% for comment in recent_comments %}
                        {% if not term_comment(comment) == "" %}
                        <div class="row mb0 mt0">
                            <div class="col s12">
                                <p class="updates valign-wrapper"><strong>{{ term_comment(comment)[0] }}</strong>
                                    "{{ comment.comment }}"
                                    <a class="btn-small icon-button z-depth-0"
                                        href="{{ url_for('view_term', term_id=term_comment(comment)[1]) }}"><i
                                            class="small material-icons">keyboard_arrow_right</i></a>
                                </p>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}

        </div>

        <!-- Modal Structure -->
        <div id="logout-modal" class="modal">
            <div id="lo-modal-content" class="modal-content">
                <h4 id="lo-mod-title">Log out</h4>
                <p>Do you really want to log out?</p>
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('logout') }}" class="search-mng-btn btn-small z-depth-0">
                    Yes, log me out<i class="fas fa-plus-square right"></i>
                </a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>