<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" type="text">
    <title>Style Guide</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('get_terms') }}" class="brand-logo">MyHouse</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="">Search</a></li>
                <li><a href="">Make a suggestion</a></li>
                <li><a href="">Add term</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="">Search</a></li>
        <li><a href="">Make a suggestion</a></li>
        <li><a href="">Add term</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
    </ul>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>