{% extends "base.html" %}
{% block content %}
{% if user.to_change_pword == True %}
<p>Looks like you're new here, please <a href="{{ url_for('profile', user=user) }}">change your password.</a></p>
{% else %}

<div class="container">
    <div class="row">
        <div class="col s12 m6 col-fix">
            <!-- Pinned terms -->
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">Your pinned terms</div>
                    <div class="row">
                        {% if pinned_terms|length > 0 %}
                        {% for pinned_term in pinned_terms %}
                        <div class="col">
                            <div class="chip">
                                <a class="link"
                                    href="{{ url_for('go_to_term', term_id=pinned_term._id) }}">{{ pinned_term.term_name }}</a><a
                                    href="{{ url_for('remove_pin', pinned_term=pinned_term._id) }}"><i
                                        class="close material-icons">close</i></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col">
                            <p>Pin your most searched-for terms here!</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Search terms -->
            <div class="card z-depth-0">
                <div class="card-content">
                    <form method="POST" action="{{ url_for('search_terms') }}">
                        <div class="card-title">Search terms</div>
                        <div class="row">
                            <div class="col s12">
                                <div class="input-field">
                                    <input type="text" name="query" id="query" minlength="3">
                                    <label for="query">Search terms</label>
                                </div>
                            </div>
                        </div>
                        <div class="row center-align">
                            <div class="col s6">
                                <a href="{{ url_for('dashboard') }}"
                                    class="btn-small z-depth-0 button-override">Reset</a>
                            </div>
                            <div class="col s6">
                                <button type="submit" class="btn-small z-depth-0 button-override">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Admin-only, alerts for new registrations, flagged comments and suggestions -->
            {% if access_level == 'administrator' %}
            <div class="card z-depth-0">
                <div class="card-content">
                    <div id="activity" class="card-title">
                        Recent Updates</div>
                        
                    {% if new_registrations|length > 0 %}
                    <p class="minor-text">New registrations</p>
                    {% for new_reg in new_registrations %}

                    <form class="new_reg" method="POST"
                        action="{{ url_for('update_user', each_user_id=new_reg._id, origin='dash') }}">
                        <div class="updates valign-wrapper">
                            <p>{{ new_reg.username|capitalize() }}:</p>
                            <select id="access_level" name="access_level">
                                <option value="" disabled selected>Set access level
                                </option>
                                {% for access_level in levels %}
                                <option value="{{ access_level.level_name }}">{{ access_level.level_name }}</option>
                                {% endfor %}
                            </select>
                            <button class="icon-btn btn-small z-depth-0 button-override" type="submit"><i
                                    class="small material-icons center-align">keyboard_arrow_up</i></button>
                        </div>
                    </form>

                    {% endfor %}
                    {% else %}
                    <p>No new registrations</p>

                    {% endif %}
                    <hr class="updates-hr">
                    {% if flagged_comments|length > 0 %}
                    <p class="minor-text">Flagged comments</p>
                    {% for flagged in flagged_comments %}
                    <div class="row">
                        <div class="col s12">
                            <p class="updates valign-wrapper">
                                <span class="truncate inline">{{ manage_flagged_comments(flagged) }}:
                                    "{{ flagged.comment }}"</span> <a
                                    class="btn-small icon-btn z-depth-0 button-override more"
                                    href="{{ url_for('delete_flag', comment_id=flagged._id) }}"><i
                                        class="keyboard material-icons">close</i></a>
                                        

                            </p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No new flagged comments</p>
                    {% endif %}
                    <hr class="updates-hr">
                    
                    {% if suggested_terms|length > 0 %}
                    <p class="minor-text">Suggested terms</p>
                    {% for suggestion in suggested_terms %}
                    <div class="row">
                        <div class="col s12">
                            <p class="updates valign-wrapper">"{{ suggestion.term_name }}"
                                {% if manage_suggested_terms(suggestion) != "" %}
                                suggested by: {{ manage_suggested_terms(suggestion) }}                               
                                {% endif %}
                                
                                <a class="btn-small icon-btn z-depth-0 button-override more"
                                    href="{{ url_for('manage_term', term_id=suggestion._id) }}"><i class="small material-icons">keyboard_arrow_right</i></a>                                   
                              </p>
                                    
                        </div>
                    </div>
                    {% endfor %}
                   
                    {% else %}
                    <div class="row">
                        <div class="col s12">
                            <p>No new term suggestions</p>
                        </div>
                    </div>
                    {% endif %}
                   
                </div>


            </div>
            {% endif %}
     
{% if access_level != 'administrator' %}
          <div class="card z-depth-0">
                <div class="card-content">
                    <div id="activity" class="card-title">
                        Recent Updates</div>
                        
                    <hr class="updates-hr">
                    
                    {% for update in term_updates %}
                    <div class="row">
                        <div class="col s12">
                            <p class="updates valign-wrapper">"{{ update.term_name }}" was recently updated
                                
                                <a class="btn-small icon-btn z-depth-0 button-override more"
                                    href="{{ url_for('view_term', term_id=update._id) }}"><i class="small material-icons">keyboard_arrow_right</i></a>                                   
                              </p>
                                    
                        </div>
                    </div>
                    {% endfor %} 
                </div>
            </div>
            {% endif %}

            {% if access_level != 'read only' %}
          <div class="card z-depth-0">
                <div class="card-content">
                    <div id="activity" class="card-title">
                        Recent Comments</div>
                        
                    <hr class="updates-hr">
                    
                    {% for comment in recent_comments %}
                    {% if not term_comment(comment) == None %}
                    <div class="row">
                        <div class="col s12">
                            <p class="updates valign-wrapper">{{ term_comment(comment)[0] }}: {{ comment.comment }} 
                                <a class="btn-small icon-btn z-depth-0 button-override more"
                                    href="{{ url_for('view_term', term_id=term_comment(comment)[1]) }}"><i class="small material-icons">keyboard_arrow_right</i></a>                                   
                              </p>  
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %} 
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col s12 m6 right-col">
            <div class="row">
                <div class="col s12">
                    <div class="card z-depth-0">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 card-header">
                                <p>Browse style guide</p>
                            </span>

                            <div class="row">
                                <div class="letters">
                                    {% for category in categories %}

                                    <div class="chip letter-chip"><a
                                            href="{{ url_for('get_category', category=category) }}">{{ category }}</a>
                                    </div>

                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if terms == None %}
            <p>Search for a term or browse the style guide</p>

            {% elif terms|length == 0 %}
            <p>Your search returned no results</p>
            {% else %}
            {% for term in terms %}
            {% if term.pending != True %}
            <div class="row">
                <div class="col s12">
                    <div class="card z-depth-0">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 card-header">
                                <p><a href="{{ url_for('view_term', term_id=term._id) }}">{{ term.term_name }}</a><em
                                        class="card-subhead">{{ term.type_name }}</em></p>
                            </span><a class="btn-floating halfway-fab waves-effect waves-light corner-fab z-depth-0"
                                href="{{ url_for('pin_term', term_id=term._id, origin='dash') }}"><i
                                    class="material-icons">add</i></a>
                            {% if term.alt_terms|length > 0 %}
                            <strong>Also: </strong>
                            {% for alt_term in term.alt_terms %}
                            <span>
                                {% if not loop.first and loop.last %}
                                and
                                {% endif %}{{ alt_term }}
                            </span>
                            {% endfor %}
                            {% endif %}
                            <div class="row"></div>
                            <div class="row view_more">
                                <div class="col s2">
                            <a class="more btn-small z-depth-0 button-override" href="{{ url_for('view_term', term_id=term._id) }}">View</a></div>
    
                            {% if access_level == "administrator" %}
                                <div class="col s10">
                            <a class="more btn-small z-depth-0 button-override" href="{{ url_for('manage_term', term_id=term._id) }}">Manage</a></div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            {% endfor %}
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}