{% extends "base.html" %}
{% block content %}
{% if to_change_pword == True %}
                <p>Looks like you're new here, please <a href="{{ url_for('profile', user=session['user']) }}">change your password.</a></p>
{% else %}
<h2 class="center-align"> {{ user.username }}'s dashboard</h2>
<div class="container">
    <div class="row">
        <div class="col s12 m6 col-fix">
            <!-- Pinned terms -->
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">Your pinned terms</div>
                    <div class="row">
                        {% if pinned_terms|length > 0 %}
                        {% for pinned_term in pinned_terms %}
                        <div class="col">
                            <div class="chip">
                                <a class="link" href="{{ url_for('go_to_term', term_id=pinned_term._id) }}">{{ pinned_term.term_name }}</a><a
                                    href="{{ url_for('remove_pin', pinned_term=pinned_term._id) }}"><i
                                        class="close material-icons">close</i></a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col">
                            <p>Pin your most searched-for terms here!</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- Search terms -->
            <div class="card z-depth-0">
                <div class="card-content">
                    <form method="POST" action="{{ url_for('search_terms') }}">
                        <div class="card-title">Search terms</div>
                        <div class="row">
                            <div class="col s7">
                                <div class="input-field">
                                    <input type="text" name="query" id="query" minlength="3">
                                    <label for="query">Search terms</label>
                                </div>
                            </div>
                            <div class="col s1"></div>
                            <div class="col s4">
                                <div class="row">
                                    <a href="{{ url_for('dashboard') }}" class="btn-small button-override">Reset</a>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn-small button-override">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
        <!-- Admin-only, alerts for new registrations, flagged comments and suggestions -->
            <div class="card z-depth-0">
                <div class="card-content">
                        <div class="card-title">Recent Activity</div>
                        {% if not new_registrations %}
                        {% if not suggestions %}
                        {% if not flagged_comments %}
                        <p>No notifications</p>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                           {% for new_reg in new_registrations %}
                        <div class="row">
                        <form class="new_reg" method="POST" action="{{ url_for('update_user', user_id=new_reg._id) }}">
                            <div class="col m3">{{ new_reg.username }}:</div>
                            <div class="col m6">
                            <select id="access_level" name="access_level">
                                <option value="" disabled selected>Set access level<option>
                                {% for access_level in levels %}
                                <option value="{{ access_level.level_name }}">{{ access_level.level_name }}</option>
                                {% endfor %}
                            </select>
                            </div>
                            <div class="col m3">
                            <button class="btn-small" type="submit">Update</button>
                            </div>
                            </form>
                            </div>
                              {% endfor %}
                              <!-- OTHER STUFF -->
                              {% for suggestion in suggested_terms %}
                              <div class="row">
                              <div class="col m6">
                              <p>"{{ suggestion.term_name }}", suggested by: {{ suggestion.created_by }} <a class="more" href="{{ url_for('manage_term', term_id=suggestion._id) }}">View more</a></p>
                              </div>
                              </div>
                              {% endfor %}

                              {% for flagged in flagged_comments %}
                              
                              <div class="row">
                              <div class="col m8">
                                  <p><span class="truncate inline">"{{ flagged.comment }}"</span> <a class="more" href="{{ url_for('delete_flag', comment_id=flagged._id) }}"><i
                                        class="close material-icons">close</i></a></p>
                              </div>
                              </div>
                              
                              {% endfor %}
                            </div>
                            </div>
                </div>
            
            

        <div class="col s6 m6 right-col">
            <div class="row">
                <div class="col s12">
                    <div class="card z-depth-0">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 card-header">
                                <p>Browse style guide</p>
                                </span>
                                
                                <div class="row">
                                    {% for letter in letters %}
                                <div class="col s1"><div class="chip"><a href="{{ url_for('get_category', letter=letter) }}">{{ letter }}</a></div></div>
                                
                                {% endfor %}
                                </div>
                    </div>
                </div>
            </div>
        </div>
        
            {% if terms == None %}
                        <p>Search for a term of browse the style guide</p>

            {% elif  terms|length == 0 %}
            <p>Your search returned no results</p>
            {% else %}
            {% for term in terms %}
            {% if term.pending != True %}
            <div class="row">
                <div class="col s12">
                    <div class="card z-depth-0">
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 card-header">
                                <p><a href="{{ url_for('view_term', term_id=term._id) }}">{{ term.term_name }}</a><em class="card-subhead">{{ term.type_name }}</em></p>
                                </span><a class="btn-floating halfway-fab waves-effect waves-light corner-fab"
                                href="{{ url_for('pin_term', term_id=term._id) }}"><i class="material-icons">add</i></a>
                            {% if term.alt_terms|length > 0 %}
                            <strong>Also: </strong>
                            {% for alt_term in term.alt_terms %}
                            <span>
                                {% if not loop.first and loop.last %}
                            and
                            {% endif %}{{ alt_term }}
                            </span>
                            {% endfor %}
                            {% endif %}
                             <a class="more" href="{{ url_for('view_term', term_id=term._id) }}">View more</a>
                             {% if access_level == "administrator" %}
                             <a class="more" href="{{ url_for('manage_term', term_id=term._id) }}">Manage term</a>
                             {% endif %}
                        </div>
                      </div>
                    </div>
                </div>
            
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}