{% extends "base.html" %}
{% block content %}

<h2>Manage users</h2>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <form method="POST" action="{{ url_for('add_user') }}">
                        <div class="card-title">Add user</div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="username" id="username" name="username" type="text"
                                    class="validate">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="password" id="password" name="password" type="text"
                                    class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select placeholder="access_level" id="access_level" name="access_level" type="text"
                                    class="validate">
                                    <option value="" disabled selected>Access level</option>
                                    {% for access_level in levels %}
                                    <option value="{{ access_level.level_name }}">{{ access_level.level_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <button type="submit" class="btn">Add user</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% for user in users %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s6">
                    <span class="card-title">{{ user.username }}</span></div>
                    <div class="col s6">
                        <span>{{ user.access_level }}</span>
                        </div>
                    </div>
                    <div class="container">
                        <form method="POST" action="{{ url_for('update_user', user_id=user._id) }}">
                            <div class="row">
                                <div class="col s6 m6">
                                    <p>
                                        <label for="read_only">
                                            <input id="read_only" name="access_level" value="read_only" type="radio" />
                                            <span>Read only</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input id="read_and_comment" name="access_level" value="read_and_comment" type="radio" />
                                            <span>Read & Comment</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label for="administrator">
                                            <input id="administrator" name="access_level" value="administrator" type="radio" />
                                            <span>Administrator</span>
                                        </label>
                                    </p>
                                </div>
                                <div class="col s6 m6">
                                    <div class="row">
                                    <button class="btn" type="submit">Update user</button>
                                    </div>
                                    <div class="row">
                                    <a class="btn" href="{{ url_for('delete_user', user_id=user._id) }}">Delete user</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
       </div>
    </div>
{% endfor %}
 
</div>

{% endblock %}