{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card z-depth-0 narrow-card">
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 underline-header">
                Manage term</span>


            <form class="col s12 term-form" method="POST" action="{{ url_for('update_term', term_id=term._id) }}">
                <div class="row">
                    <div class="input-field col s12">
                        <input value="{{ term.term_name }}" id="term_name" name="term_name" type="text"
                            class="validate input-box input-width-half">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12" id="alts">
                        <p class="alts_incs light-underline">Alternative usage </p>
                        {% for alt_term in term.alt_terms %}
                        {% if term.alt_terms|length > 0 %}
                        <input class="input-box input-width-half" name="alt_terms" value="{{ alt_term }}">
                        {% else %}
                        <p>No alternative terms have been added yet</p>
                        {% endif %}
                        {% endfor %}
                        <p>Add new alternative terms below</p>
                        <div id="new-alts">
                        </div>
                        <a href="javascript:void(0);" onclick="add_field('alt_terms', 'new-alts', 'input-box input-width-half')" id="add_alt" class="btn-floating btn-small waves-effect waves-light pt1 z-depth-0"><i class="material-icons">add</i></a>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12" id="incs">
                        <p class="alts_incs light-underline">Incorrect usage </p>
                        
                        {% for incorrect_term in term.incorrect_terms %}
                        {% if term.incorrect_terms|length > 0 %}
                        <input class="input-box input-width-half" name="incorrect_terms" value="{{ incorrect_term }}">
                        {% else %}
                        <p>No incorrect terms have been added yet</p>
                        {% endif %}
                        {% endfor %}
                        
                       
                        <p>Add new incorrect terms below</p>
                        <div id="new-incs">
                        </div>
                        <a href="javascript:void(0);" onclick="add_field('incorrect_terms', 'new-incs', 'input-box input-width-half')" id="add_inc" class="z-depth-0 btn-floating btn-small waves-effect waves-light pt1"><i class="material-icons">add</i></a>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s8">
                        <div class="form-outline">
                            <select class="input-width-half validate" id="type_name" name="type_name" required>
                                {% for type in types %}
                                {% if term.type_name == type.type_name %}
                                <option class="" value="{{ type.type_name }}" disabled selected>{{ type.type_name }}</option>
                                {% else %}
                                <option class="" value="{{ type.type_name }}">{{ type.type_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input value="{{ term.usage_notes }}" id="usage_notes" name="usage_notes" type="text"
                            class="input-box input-width-full validate">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <button type="submit" class="btn-small right">Update term
                            <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                    <div class="input-field col s6">
                        <a href="{{ url_for('delete_term', term_id=term._id) }}" class="btn-small left">
                            Delete term <i class="fas fa-plus-square right"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}