{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="card z-depth-0">
    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        Manage term</span>

                   
                    <form class="col s12" method="POST" action="{{ url_for('update_term', term_id=term._id) }}">
                        <div class="row">
                            <div class="input-field col s6">
                                <input value="{{ term.term_name }}" id="term_name" name="term_name" type="text"
                                    class="validate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea value="{{ term.alt_name }}"" id=" alt_terms" name="alt_terms" type="text"
                                    class="" rows="5" cols="4"> 
                                    {%- for alt_term in term.alt_terms -%}
                                   
                                        {{- alt_term -}} 
                                       
                                    {%- endfor -%}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea value="{{ term.incorrect_terms }}" id="incorrect_terms" name="incorrect_terms"
                                    type="text" class="validate" rows="5" cols="4">
                                    {% if incorrect_terms|length > 0 %}
                                 {%- for incorrect_term in term.incorrect_terms -%}
                                   
                                        {{- incorrect_term -}} 
                                       
                                    {%- endfor -%}
                                    {% endif %}
                                </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="form-outline">
                                    <select id="type_name" name="type_name" class="validate" required>
                                        <option value="{{ term.type_name }}" disabled selected>{{ term.type_name }}</option>
                                        {% for type in types %}
                                        <option value="{{ type.type_name }}">{{ type.type_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input value="{{ term.usage_notes }}" id="usage_notes" name="usage_notes" type="text"
                                    class="validate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                                    Update term <i class="fas fa-plus-square right"></i>
                                </button>
                            </div>
                            <div class="input-field col s6">
                                <a href="{{ url_for('delete_term', term_id=term._id) }}"
                                    class="btn-large light-blue darken-1 text-shadow">
                                    Delete term <i class="fas fa-plus-square right"></i>
                                </a>
                            </div>
                        </div>
                    </form>
</div>
       </div> </div>
{% endblock %}