{% extends "base.html" %}
{% block content %}

<div id="profile" class="col m8">
    <div class="row">
        <div class="card z-depth-1">
            <div class="card-title card-header gradient-light">{{ user.username|capitalize() }}'s account details</div>
            <div class="card-content">
                <h6 class="access-level">Your access level is: {{ user.access_level|capitalize() }}</h6>
                <div class="card-header light-underline">Update password</div>
                <form class="p10" method="POST" action="{{ url_for('change_password', user_id=user._id) }}">
                    <div class="input-field">
                        <input placeholder="Username" id="username" name="username" type="text" class="validate">
                    </div>
                    <div class="input-field">
                        <input placeholder="Existing password" id="password" name="password" type="password" class="validate">
                    </div>
                    <div class="input-field">
                        <input placeholder="New password" id="new_password" name="new_password" type="password" class="validate">
                    </div>
                    <button class="search-mng-btn submit btn-small z-depth-0">Update
                        <i class="fas fa sign-in-alt"></i></button>
                </form>             
            </div>
        </div>
    </div>
</div>
   


{% endblock %}