{% extends "base.html" %}
{% block content %}
<h2 class="center-align"> {{ user }}'s dashboard</h2>
<div class="container">
    <div class="row">
        <div class="col s12 col-fix">
            <!-- Pinned terms -->
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">Manage recent comments</div>
                    <div class="row">
                        <table>
                            <thead>
                                <tr>
                                    <th>Time/Date</th>
                                    <th>User</th>
                                    <th>Term</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in comments %}
                                <tr>
                                    <td>{{ comment.timestamp }}</td>
                                    <td>{{ comment.user }}</td>
                                    <td>{{ comment.rel_term_name }}</td>
                                    <td>{{ comment.comment }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endblock %}